#main {
  width:100%;
  height:100vh;
  background-image:url("../../assets/img/fundo.png");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

#jogarBT {
  font-size:31px;
}

#contentor {
  width:100%;
  height:50%;
  padding-bottom:0px;
}

