@{
    ViewBag.Title = "About";
}
<div class="jumbotron" id="inf">
	<h1 class="text-center">Dodge or Smash</h1>
	<p class="text-center" style="font-size: 19px;">
	   Instructions are simple, dodge the evil professors, or jump on their head to gain extra points. </p>
	<p style="font-size: 19px;">Your score will give you currency to buy skins on our shop. Use the W, A, S, D, the arrows or </p>
	<p style="font-size: 19px;">the touch screen to move and space bar to jump. Try to beat the score and be the best.</p>
	<p class="text-center">For normal account, just register!</p>
	<p style="font-size: 18px;" class="text-center">Admin account: Ricardo<br>password: Asd.123</p>
	<p style="font-size: 15px;" class="text-center">Made by Ricardo Reis nº19046 IPT 2017/2018</p>
</div>
