@{
    ViewBag.Title = "About";
}
<div class="jumbotron" id="inf">
	<h1 class="text-center">Dodge or Smash</h1>
	<p class="text-center">For normal account, just register!</p>
	<p style="font-size: 18px;" class="text-center">Admin account:Ricardo<br>password:Asd.123</p>
	<p style="font-size: 15px;" class="text-center">Made by Ricardo Reis nº19046 IPT 2017/2018</p>
</div>
