<!DOCTYPE html>
<html>
<body>
<div class="jumbotron" id="inf">
	<h1 class="text-center">Dodge or Smash</h1>
	<p class="text-center">The new upcoming game featuring your favorite&nbsp;<br>professors.<br></p>
	<p class="text-center" style="font-size:13px;">Project made for TI2 - IPT 2017/2018</p>
	<p class="text-center"><a class="btn btn-primary" role="button" href="https://instagram.com/lizzardcomics/">Link for the artwork maker</a></p>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/js/bs-animation.js"></script>
</body>

</html>